<h3>Update Car</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="car.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Model</label>
      <input type="text" class="form-control" id="model" required [(ngModel)]="car.model" name="model">
    </div>

    <div class="form-group">
      <label for="name">Year</label>
      <input type="text" class="form-control" id="year" required [(ngModel)]="car.year" name="year">
    </div>

    <div class="form-group">
      <label for="name">Price</label>
      <input type="text" class="form-control" id="price" required [(ngModel)]="car.price" name="price">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
